@import url('/fonts/gilory/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
font-family: Montserrat;
*/

body {
    background-color: rgba(244, 249, 252, 0.8);
}

/* HEADER */

header {
    display: flex;
    max-width: 1903px;
    padding: 30px 21.5px 0px 21.5px;
}

.logo {
    margin-right: 79px;
}

.menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.16);
    border-radius: 15px;
    cursor: pointer;
}

.menu-button span,
.menu-button::before,
.menu-button::after  {
    display: block;
    position: relative;
    width: 18px;
    height: 2px;
    background-color: #000;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before,
.menu-button::after {
    content: '';
}

.menu-button::before {
    margin-bottom: 4px;
}

.menu-button::after {
    margin-top: 4px;
}

.menu-button.active span {
    opacity: 0;
}

.menu-button.active::before{
    transform: rotate(45deg);
    margin-bottom: -2px;
}

.menu-button.active::after {
    transform: rotate(-45deg);
    margin-top: -2px;
}

.menu {
    width: 100%;
    max-width: 1579px;
}

nav {
    display: flex;
    margin: 0 290px 0 0;
    color: #13171D;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.4px;
    text-align: left;
}

nav li + li {
    margin-left: 28px;
}

nav a {
    padding-bottom: 24px;
}

nav a:visited {
    color: #13171D;
}

nav li a:hover {
    color: #E2001A;
    border-bottom: 2px solid #E2001A;
}

.info-wrap {
    display: flex;
    align-items: center;
}

.adress-block {
    margin-right: 45px;
}

.adress {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #13171D;
}

.adress-icon {
    margin-right: 18px;
}

.adress-link {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #015AA9;
    text-decoration: underline;
}

.tel-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-numbers {
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #13171D;
    margin-right: 35px;
}

a.phone-numbers, .phone-numbers a:visited {
    color: #13171D;
}

.number.before-item::before {
    content: "/";
    display: inline-block;
    padding: 0 16px 0 16px;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #000;
}

.call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    background-color: rgba(226, 0, 26, 0.1);
    stroke: #E2001A;
    fill: #E2001A;
    transition: 0.2s ease;
}

.call-button:hover {
    background-color: rgba(226, 0, 26, 1);
    stroke: #fff;
    fill: #fff;
}

.call-button svg {
    stroke: inherit;
    fill: inherit;
    transition: inherit;
}



@media (min-width: 1921px) {
    header {
        /* width: 1920px; */
        margin: 0 auto;
    }
}

@media (max-width: 1919px) {

    header {
        justify-content: space-between;
    }

    nav {
        margin-right: 0;
    }

    .menu {
        justify-content: space-between;
    }

    .logo {
        margin-right: 30px;
    }
}


@media (max-width: 1599px) {

    .info-wrap {
        margin-left: 24px;
    }

    .adress-block {
        margin-right: 0;
        align-items: center;
    }

    .adress-text {
        display: inline-block;
    }

    .adress {
        max-width: 230px;
    }
    
    .phone-numbers {
        flex-direction: column;
    }


    .number.before-item::before {
        display: none;
    }

}

@media (max-width: 1358px) {

    header {
        padding: 30px 19px 0px 19px;
    }
    
    .adress {
        max-width: 190px;
        font-size: 12px;
    }

    .phone-numbers {
        margin-right: 30px;
    }

    .number {
        font-size: 18px;
    }
}

@media (max-width: 1299px) {

    .logo img {
        width: 180px;
    }

    nav li + li {
        margin-left: 15px;
    }

    nav {
        font-size: 14px;
    }

    .adress-block {
        margin-right: 25px;
        font-size: 10px;
    }

    .adress {
        max-width: 147px;
    }

    .adress-icon {
        width: 30px;
        height: 32px;
        margin-right: 13px;
    }

    .number {
        font-size: 16px;
    }

    .call-button {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1130px) {

    header {
        padding: 14.75px 24px 0 24px;
        justify-content: space-between;
        align-items: center;
    }

    .logo, .menu-button, .info-wrap {
        position: relative;
        z-index: 11;  
    }

    .logo {
        margin-right: 45px;
        position: relative;
    }

    .logo img {
        width: 202px;
    }

    .menu-button {
        display: flex;
    }

    .menu {
        width: 75%;
    }
    
    nav {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    nav li {
        opacity: 0;
    }

    nav.active {
        display: flex;
        width: 50%;
        height: 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        padding-top: 70px;
        transition: 0.2s width;
        background-color: #F4F9FC;
    }

    nav.active li {
        opacity: 10;
        transition: 1s;
    }

    nav ul {
        flex-direction: column;
        margin: 128px 0 81px 50px;
    }

    nav ul a, nav ul li {
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin-bottom: 40px;
    }

    nav li {
        font-family: 'Gilroy';
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.01em;
        text-align: left;

    }

    .menu {
        justify-content: end;
    }

    .adress {
        max-width: 250px;
    }

    .phone-numbers {
        flex-direction: row;
    }

    .number {
        font-size: 20px;
    }

    .number.before-item::before {
        display: inline-block;
    }

    .call-button {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 1050px) {

    .logo {
        margin: 0;
        }

    .menu {
        width: 56%;
    }

    .info-wrap {
        margin: 0;
    }

    .phone-numbers {
        flex-direction: column;
    }

    .number {
        font-size: 16px;
    }

    .number.before-item::before {
        display: none;
    }
}

@media (max-width: 913px) {

    .logo {
        margin-right: 45px;
    }

    .adress-block {
        display: none;
    }

    .phone-numbers {
        flex-direction: row;
    }

    .number {
        font-size: 20px;
    }

    .number.before-item::before {
        display: inline-block;
    }
}