@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
font-family: 'Bebas Neue', cursive;
font-family: Montserrat;
*/

body {
    background-color: rgba(244, 249, 252, 0.8);
}

/* HEADER */

header {
    display: flex;
    padding: 30px 29px 0px 29px;
}


.menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48px;
    height: 48px;
    margin-left: 45px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.16);
    border-radius: 15px;
    cursor: pointer;
}

.menu-button span,
.menu-button::before,
.menu-button::after  {
    display: block;
    position: relative;
    width: 18px;
    height: 2px;
    background-color: #000;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before,
.menu-button::after {
    content: '';
}

.menu-button::before {
    top: 6px;
}

.menu-button::after {
    bottom: 6px;
} 

nav {
    display: flex;
    margin: 0 275px 0 79px;
    color: #13171D;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: left;
}

nav li + li {
    margin-left: 24px;
}

nav a {
    padding-bottom: 24px;
}

nav a:visited {
    color: #13171D;
}

nav li a:hover {
    color: #E2001A;
    border-bottom: 2px solid #E2001A;
}

.adress-block {
    margin-right: 45px;
}

.adress {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #13171D;
}

.adress-icon {
    margin-right: 20px;
}

.adress-link {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #015AA9;
    text-decoration: underline;
}

.tel-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-numbers {
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #13171D;
    margin-right: 35px;
}

.phone-numbers, .phone-numbers a:visited {
    color: #13171D;
}

.number + .number::before {
    content: "/";
    display: inline-block;
    padding: 0 16px 0 16px;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #000;
}

.call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    background-color: rgba(226, 0, 26, 0.1);
    stroke: #E2001A;
    fill: #E2001A;
    transition: 0.2s ease;
}

.call-button:hover {
    background-color: rgba(226, 0, 26, 1);
    stroke: #fff;
    fill: #fff;
}

.call-button svg {
    stroke: inherit;
    fill: inherit;
    transition: inherit;
}

@media (max-width: 1905px) {

    
}